---
// index.astro
import Layout from '../layouts/Layout.astro';
import LogoWithName from '../components/LogoWithName.astro';
import ButtonLinkClean from '../components/ButtonLinkClean.astro';
import BigTitle from '../components/BigTitle.astro';
import TabList from '../components/TabList.astro';
import '/framework/Styles.scss';
import Tab from '../components/Tab.astro';

const tabs = [
  { text: 'Tab 1' },
  { text: 'Tab 2' }
];
---

<Layout title="Welcome to Astro.">
	<main class="">
	  <LogoWithName logoSrc="https://cursor.sh/assets/images/logo.mp4" textSrc="https://cursor.sh/assets/images/logo-words.svg" />
	  <ButtonLinkClean text='Get Started' link='/docs' />
	  <BigTitle text="Texto Test" />
	  <TabList tabs={tabs} /> {/* Usa o componente TabList */}
	</main>
	<script type="module">
	  const tabs = document.querySelectorAll('.button');
	  tabs.forEach(tab => {
		tab.addEventListener('click', () => {
		  tabs.forEach(t => t.classList.remove('selected'));
		  tab.classList.add('selected');
		});
	  });
	</script>
  </Layout>