---
import '/framework/Styles.scss';
interface Props {
    classe: string;
    children: React.ReactNode;
}

  const {classe, children} = Astro.props;
---

<button class="button-dow" href={children}>{classe}</button>
