---
// Tab.astro
import '/framework/Styles.scss';
interface Props {
  placeholder?: string;
}

const {  } = Astro.props;
---

<div class="input-box">
  <input spellcheck="false" autocapitalize="off" autocomplete="username" placeholder="Your email address" type="email" autofocus="" required="" title="" id="radix-:R9kqnnlda:" class="" name="email">
</div>