import '/framework/Styles.scss';

interface Props {}

const Introducao: AstroProps<Props> = (props) = {
    return (
        <p class="leading-[140%] text-xl md:text-4xl text-center text-white font-[300] sm:max-w-[70%] mx-auto" style="text-wrap:balance">
            Built to make you extraordinarily productive, Cursor is the best way to code with AI.
        </p>
    );
};

export default Introducao;