import '/framework/Styles.scss';
interface AstroProps {
    href: string;
    target: string;
    children: React.ReactNode;
  }
  
  const Astro: React.FC<AstroProps> = ({ href, target, children }) = (
    <a
      className="flex items-center justify-center text-text-on-fill text-base leading-[110%] gt-standard-mono px-3 py-2 rounded-md hover:bg-[#F5F5F5] hover:text-black"
      href={href}
      target={target}
    >
      {children}
    </a>
  );
  
  const NavBar = () = (
    <div className="rounded-md bg-background-inverse py-2 px-2 flex-1 h-[50px]">
      <div className="flex items-center gap-1.5">
        <Astro href="/pricing">Pricing</Astro>
        <Astro href="/features">Features</Astro>
        <Astro href="https://forum.cursor.sh" target="_blank">Forum</Astro>
        <Astro href="https://docs.cursor.sh" target="_blank">Docs</Astro>
        <Astro href="https://anysphere.inc" target="_blank">Careers</Astro>
        <Astro href="/blog">Blog</Astro>
      </div>
    </div>
  );
  
  export default NavBar;
  