.button-link-clean{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    font-size: 1rem;
    line-height: 1.5rem;

    &:hover {
        color: #000000;
        background: #F5F5F5;
    }
}
