.Continua {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    text-align: inherit;
    color: #ffffff;

    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: #0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px;

    background-color: #0000;

    font-size: 20px;
}
